*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
body{
    background-color: whitesmoke;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 2em 1em;
    text-align: center;
}

.column{
    width: 100%;
    padding: 0.5em 0;
}
 h1{
    width:100%;
    text-align: center;
    font-size: 3.5em;
    color:purple;
 }

 .card{
    box-shadow: 0 0 2.2em blue;
    padding: 3,5em 1em;
    border-radius: 0.6em;
    color: purple;
    cursor: pointer;
    transition: 0.3;
 }
 .card .img-container{
    width: 8em;
    height: 8em;
    background-color:skyblue;
    padding: 0.5em;
    border-radius: 50%;
    margin: 0 auto 2em auto;;

 }
 .card img {
    width:100%;
    border-radius: 50%;
 }

 .card h3 {
    font-weight: 500;
 }

 .card p {
    font-weight: 300;
    text-transform: uppercase;
    margin: 0.5em 0 2 em 0;
    letter-spacing: 2px;
 }
 .icons{
    width :50%;
    min-width: 180px;
    margin: auto;
    display: flex;
    justify-content: space-between;

 }

 .card a{
    text-decoration: none;
    color: inherit;
    font-size: 1.4em;
 }

 .card:hover{
    background: linear-gradient(blue, skyblue);
    color: whitesmoke;
 }

 .card:hover .img-container{
    transform: scale(1.15);
 }
 
 @media screen and(min-width:768px){
    section{
        padding: 1em 7em;

    }
 }

 @media screen and(min-width:992px){
    section{
        padding: 1em ;
        
    }
    .card{
        padding: 5em 1em;
    }
    .column{
        flex:0 0 33.33;
        max-width: 33.33%;
        padding:0 1em;
    }
 }